<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="index.js"></script>

</head>

<body>

    <div class="container">

        <h1 class="h1">Clientes</h1>

        <button type="button" class="btn btn-primary mb-2 d-flex justify-self-end" data-bs-toggle="modal" data-bs-target="#form-cadastro">
            Cadastrar
        </button>



        
        
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Idade</th>
                </tr>
            </thead>

            <tbody id="lista">
               
            </tbody>
        </table>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="form-cadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de cliente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container d-flex flex-column mb-3">
                        <label for="input-nome" class="form-label">Nome *</label>
                        <input id="input-nome" class="form-control" type="text">
                        <div class="invalid-feedback">O campo nome é obrigatório</div>
                    </div>
                    <div class="container d-flex flex-column mb-3">
                        <label for="input-email" class="form-label">Email *</label>
                        <input id="input-email" class="form-control " type="email">
                        <div class="invalid-feedback">O campo email é obrigatório</div>
                    </div>
                    <div class="container d-flex flex-column">
                        <label for="input-telefone" class="form-label">Telefone</label>
                        <input id="input-telefone" class="form-control mb-3" type="text">
                    </div>
                    <div class="container d-flex flex-column">
                        <label for="input-cidade" class="form-label">Cidade</label>
                        <input id="input-cidade" class="form-control mb-3" type="text">
                    </div>
                    <div class="container d-flex flex-column">
                        <label for="input-idade" class="form-label">Idade</label>
                        <input id="input-idade" class="form-control mb-3" type="number">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="bt-salvar" type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>